body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttonsContainer button {
  margin: 0 5px;
}

.buttonsContainer a {
 text-decoration: none;
}

.progress {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 440px!important;
  width: 400px!important;
  z-index: 1;
}

.false {
  color: red;
}

.saveButton {
  margin-left: 10px;
}

.operation {
  font-size: 30px;
  font-weight: 800;
  color: slateblue;
}
